          /* Style the tab */
        .tab {
            overflow: hidden;
            background-color:#3e4444;     
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 20px;
            font-family: system-ui;
            color:seashell;   
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: dimgray;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color:  dimgray;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }

        /* Styles backgrounds of blocks */
        .bg-1 { 
            background-color:#ebebe0;
        }
        .bg-2 { 
            background-color:  #e6e2d3;
            color: #3e4444;
        }
        .bg-3 { 
            background-color:#ada397;
            color: #ffffff;
        }

        .bg-4 {
            background-color:#3e4444;
            color: #ffffff;
        }

        /* Styles logos */
        .logo-small {
            color:#ffffff;
            font-size: 100px;
        }
        .up-logo{
            font-size: 30px;
        }
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    
        /* Styles jumbotrons */
        .aboutJumbotron {
            background-color:#ada397 ; 
            color:#ffffff;
            padding-left: 50px;
            padding-bottom: 50px;
            
        }

        .artJumbotron {
            background-color:  #e6e2d3;
            color: #3e4444;
            
        }

        /* Styles footers */
        footer a:hover {
            color: #ebebe0;
            text-decoration: none;
        }

        footer a {
            color: #ebebe0; 
        }
        
        /* Adds more spacing */
        .margin {margin-bottom: 45px;}


        /* Styles text*/
        .biggerHeading{
            font-size: 80px;
        }
        
        h1{
            font-size: 50px;
            font-weight: 900;
        }

        h2{
            padding-top: 10px;
            font-size: 30px;
            font-weight: 900;
        }

        p{
            font-size: 18px;
            font-family:'Mulish';
        }
        
        li{
            font-size: 18px;
        }
      
        body{
            font-family: 'Mulish';
            background:#ebebe0;
            color:  #4d4d4d;
        }

        /* Styles carousel */
        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
        }

        .carousel-caption h3 {
            color: #fff !important;
        }
  
        @media (max-width: 600px) {
            .carousel-caption {
            display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
            }
        } 

        .label-default{
            font-size: 16px;
           
        }

        .label-primary{
            background-color: #ada397 ;
            font-size: 16px;
        }